[submodule "OO-FN-DSA"]
	path = submodules/OO-FN-DSA
	url = https://github.com/jameshoweee/online-offline-sigs
[submodule "OO-ML-DSA"]
	path = submodules/OO-ML-DSA
	url = https://github.com/kydahe/Beskar/tree/f55d4226235a4d4301faded1c8366ab628fd627e/dilithium
	branch = main
[submodule "ML-DSA"]
	path = submodules/ML-DSA
	url = https://github.com/pq-crystals/dilithium
